<div id="content">
  <div id="mail-list">
    <div
      [ngStyle]="mailActive == i && {'background': '#252526'} || {}"
      class="mail" *ngFor="let mail of mailService.mails | mailFilter; let i = index"
      [ngClass]="{active: mailService.checked[i]}">
      <div class="avatar-section">
        <div class="avatar" (click)="mailService.checked[i] = !mailService.checked[i]">
          <span>О</span>
          <img src="assets/icons/marked.svg">
        </div>
      </div>
      <div class="content-section" (click)="mailActive = i">
        <div class="top-content">
          <div *ngIf="!mail.flags.includes('\\\\Seen')" class="unread-mark"></div>
          <span>{{mail.title}}</span>
        </div>
        <span class="middle-content">{{mail.from.name}}</span>
        <span class="bottom-content" [innerHTML]="mail.bodystructure.toString()"></span>
      </div>
      <div class="action-section" [ngStyle]="mailActive == i && {'background': 'linear-gradient(270deg, #252526 80%, rgba(25, 25, 26, 0) 100%)'} || {}">
        <span>{{mail.date.split(',')[0]}}</span>
        <button matTooltip="Скопировать код из письма" class="mail-but" id="mail-but-{{i}}" (click)="copyCode(i)">
          <img src="assets/icons/copy.svg" class="copy">
          <img src="assets/icons/marked.svg" class="done">
        </button>
      </div>
    </div>
  </div>
  <div id="mail-view">
    <div *ngIf="mailActive >= 0">
      <h1>{{mailService.mails[mailActive].title}}</h1>
      <div style="margin-top: 8px;" [innerHTML]="mailService.mails[mailActive].bodystructure.toString()"></div>
    </div>
    <div *ngIf="mailActive < 0">
      <p style="text-align: center; margin-top: 50px">Не выбрано</p>
    </div>
  </div>
</div>
